PRIVATE_KEY=XXXXXXXXX
RPC_URL=http://0.0.0.0:8545
ETHERSCAN_API_KEY=XXXX
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/XXXX
ZKSYNC_SEPOLIA_RPC_URL=https://zksync-sepolia.g.alchemy.com/v2/XXXX
MAINNET_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/XXXX
